
#wrapper{
    width: 100vw;
    min-height: 100vh;
    background: rgb(46, 46, 46)
}
#info{
    width: 100%;
    height: 40px;
    position: fixed;
    padding-left: 20px;
    font-size: 18px;
    font-family:Microsoft JhengHei;
    line-height:45px;
    color: white;
    background: rgb(0, 66, 104);
    display: none;
    box-shadow: 0 -1px 6px 1px rgb(0, 0, 0, 0.5);
}
#info>img{
    height: 10px;
    margin-right: 20px; 
    margin-left: 20px; 
}
.list_wrapper{
    width: 100%;
    min-height: 50vh;
    box-sizing:border-box;
    padding: 40px;
}
.list_wrapper_top{
    padding-top: 60px;
    padding-bottom: 20px;
}
.list_wrapper_bottom{
    padding-top: 20px;
    padding-bottom: 60px;
}
#unfinished_list{
    width: 100%;
    min-height: calc(50vh - 80px);
    background: rgb(71, 71, 71);
}
#finished_list{
    width: 100%;
    min-height: calc(50vh - 80px);;
    background: rgb(71, 71, 71)
}
.list_title{
    width: 100%;
    box-sizing:border-box;
    font-size: 24px;
    font-family:Microsoft JhengHei;
    color: rgb(206, 206, 206);
    padding:10px;
    background: rgb(95, 95, 95);
    border-top-left-radius:30%;
}
.column{
    width: 100%;
    box-sizing:border-box;
    padding:8px;
    display:flex;
    align-items:center;
}
.column input[type="checkbox"]{
    display:inline-block;
    width:22px;
    height:22px;
    cursor:pointer;
    background: rgba(0,0,0,0);
}
.column input[type="text"] {
    width: calc(100% - 82px);
    height:33px;
    box-sizing:border-box;
    padding:3px; 
    font-size:20px; 
    font-family:Microsoft JhengHei;
    border-width:2px; 
    border-style:none; 
    border-bottom-style:none; 
    border-color: #8a8989;
    color:rgb(206, 206, 206);
    background: rgba(0,0,0,0);
    cursor: pointer;
}
.column input[type="text"]:hover {
    box-shadow: 0 0 10px rgba(151, 118, 118, 0.05);
    background: rgba(0,0,0,0.05);
}
.column input[type="text"]:focus {
    outline: none !important;
    box-shadow: 0 0 3px rgb(238, 238, 238);
    cursor: text;
}

.column ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:rgb(133, 133, 133);
    opacity: 1; /* Firefox */
}
.column :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:rgb(206, 206, 206);
}
.column ::-ms-input-placeholder { /* Microsoft Edge */
    color:rgb(206, 206, 206);
}
.column img{
   width: 20px;
   height: 20px;
   margin-left: 16px;
   cursor: pointer;
}
.column img:hover{
    background: rgb(58, 58, 58);
    box-shadow: 0 0 20px rgb(58, 58, 58);
}
.column s{
    width: calc(100% - 88px);
    padding:3px; 
    margin: 0;
    display:inline-block;
    font-size:20px; 
    font-family:Microsoft JhengHei;
    border-style:none; 
    color:rgb(158, 158, 158);
    background: rgba(0,0,0,0);
}
#add_button{
    width: 70px;
    height: 70px;
    position: fixed;
    right: 10px;
    bottom:10px;
    background-image: url('add.png');
    background-size: 100%;
}
#add_button>button{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    border-radius:50%;
    border:none;
    cursor: pointer;
}
#add_button>button:focus{
    outline: none;
}
.list_title>img{
    width: 30px;
    height: 25px;
    margin-right:11px;
    float:right;
    cursor: pointer;
}
.list_title>img:hover{
    background: rgb(85, 85, 85);
    box-shadow: 0 0 20px rgb(75, 75, 75);
}
/*hidden scrollbar*/
html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    height: 100%;
	
	overflow: auto;
}
@-moz-document url-prefix() {
    body{
        width: calc(100vw + 18px);
    }
}
@media screen and (max-width: 800px){
    #info{
        height: 40px;
        padding-left: 20px;
        font-size: 18px;
        line-height:30px;
        box-shadow: 0 -1px 6px 1px rgb(0, 0, 0, 0.5);
    }
    #info>img{
        height: 8px;
        margin-right: 20px; 
        margin-left: 3px; 
    }
    .list_wrapper{
        padding: 16px;
    }
    .list_wrapper_top{
        padding-top: 35px;
        padding-bottom: 8px;
    }
    .list_wrapper_bottom{
        padding-top: 8px;
        padding-bottom: 35px;
    }
    #unfinished_list{
        min-height: calc(50vh - 53px);
    }
    #finished_list{
        min-height: calc(50vh - 53px);
    }
    #add_button{
        width: 60px;
        height: 60px;
        right: 8px;
        bottom:8px;
    }
}